#logo1{
    width:150px;
    height:80px;
    margin: 10px;
    aling:"left";
    /*class:"rounded-circle"
 */
 }
 #logo2{
    width:150px;
    height:80px;
    margin: 10px;
    
    /*class:"rounded-circle"
 */
 }