.row{
    padding: 20px;
    background: lightblue;
    border: 1px outset rgb(24, 22, 22);
    padding-right: 1em;
    border-radius: 5px;
    size: auto;
}

footer{
    color: #fcfcfc;
    font-size: 14px;
}