<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
               <h1>trabajo uno<h3>  (años)</h3></h1> 
            </li>
            <p>detalle del puesto</p>
        </ul>
        <ul>
            <li>
               <h1>trabajo dos<h3>  (años)</h3></h1> 
            </li>
            <p>detalle del puesto</p>
        </ul>
        <ul>
            <li>
               <h1>trabajo tres<h3>  (años)</h3></h1> 
            </li>
            <p>detalle del puesto</p>
        </ul>
    </div>
</div>
