<div class="row">
    <h1>Estudios cursados</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
               <h1>titulo uno<h3>  (años)</h3></h1> 
            </li>
            <p>detalle del puesto</p>
        </ul>
        <ul>
            <li>
               <h1>titulo dos<h3>  (años)</h3></h1> 
            </li>
            <p>detalle del puesto</p>
        </ul>
        <ul>
            <li>
               <h1>titulo tres<h3>  (años)</h3></h1> 
            </li>
            <p>detalle del puesto</p>
        </ul>
    </div>
</div>

