
<div class="row">
     <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/yo.png" class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p>Maria Beatriz Aguirre</p>
        <p>Full Stack Developer Jr </p>
    </div>
    <div  class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de Mi</h1>
            <p> Desde muy joven siento fascinación por la tecnología, sus avances y sus aplicaciones.</p>
            <p> Disfruto de aprender constantemente cosas nuevas y tratar de acompañar el cambio tecnologico.</p>
            <p> Combino estos interes personales con la docencia e intento apasionar a mis alumnos en este entorno.</p>
    
        </span>
    </div>
   
</div>