
<div class="row">
     <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/yo.png"  id="foto"  class="img-fluild">
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <p id="nombre"><b>Maria Beatriz Aguirre</b></p>
        <p>Full Stack Developer Jr </p>
    </div>
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
        <span>
            <h1>Acerca de Mi</h1>
            <p> Desde muy joven siento fascinación por la tecnología, sus avances y sus aplicaciones.
             Disfruto de aprender constantemente cosas nuevas y tratar de acompañar el cambio tecnologico.
            Combino estos interes personales con la docencia e intento apasionar a mis alumnos en este entorno.</p>
    
        </span>
    </div>
   
</div>