<div class="row">
    <h1>Hard & Soft skills</h1>
    <div text="center" class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="70"
            [radius]="80"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'rgb(36, 117, 145)'"
            [innerStrokeColor]="'rgb(109, 156, 172)'"
            [animation]="true"
            title="HTML"
            [showUnits]="false"
            [showSubtitle]="false"
            [animationDuration]="600"
    ></circle-progress>
</div>
<div text="center" class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="70"
        [radius]="80"
        title="CSS"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'rgb(36, 117, 145)'"
        [innerStrokeColor]="'rgb(109, 156, 172)'"
        [animation]="true"
     
        [showUnits]="false"
        [showSubtitle]="false"
        [animationDuration]="600"
></circle-progress>
</div>
<div text="center" class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="70"
        [radius]="80"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'rgb(36, 117, 145)'"
        [innerStrokeColor]="'rgb(109, 156, 172)'"
        [animation]="true"
        title="JavaScript"
        [showUnits]="false"
        [showSubtitle]="false"
        [animationDuration]="600"
></circle-progress>
</div>
<div text="center" class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="70"
        [radius]="80"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'rgb(36, 117, 145)'"
        [innerStrokeColor]="'rgb(109, 156, 172)'"
        [animation]="true"
        title="GitHub"
        [showUnits]="false"
        [showSubtitle]="false"
        [animationDuration]="600"
></circle-progress>
</div>
<div text="center" class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="50"
        [radius]="80"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'rgb(36, 117, 145)'"
        [innerStrokeColor]="'rgb(109, 156, 172)'"
        [animation]="true"
        title="Inglés"
        [showUnits]="false"
        [showSubtitle]="false"
        [animationDuration]="600"
></circle-progress>
</div>
<div text="center" class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="30"
        [radius]="80"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'rgb(36, 117, 145)'"
        [innerStrokeColor]="'rgb(109, 156, 172)'"
        [animation]="true"
        title="Trabajo Colaborativo"
        [titleFontSize]="'14px'"
        [showUnits]="false"
        [showSubtitle]="false"
        [animationDuration]="600"
></circle-progress>
</div>
</div>
